@page "/"
@inject HttpClient Http

<PageTitle>炉石传说游戏论坛</PageTitle>
<div class="main-warp">
    <div class="main-top flex-column flex-sm-row">
        <div class="main-top-left flex-column flex-sm-row">
            <IndexCarousel Data="@Carousels"></IndexCarousel>
            <IndexNotice Data="@Notices"></IndexNotice>
        </div>
        <div class="main-top-right rounded-lg py-1 py-sm-3 px-2 px-sm-5">
            <IndexSign></IndexSign>
        </div>
    </div>
    <div class="main-bottom">
        <div class="main-bottom-left">
        </div>
        <div class="main-bottom-right">
        </div>
    </div>
</div>
@code {
    private List<Carousel> Carousels = new List<Carousel>();
    private List<Notice> Notices = new();

    protected override async Task OnInitializedAsync()
    {
        Carousels = (await Http.GetFromJsonAsync<ApiResult<List<Carousel>>>("carousels")).Data;
        Notices = (await Http.GetFromJsonAsync<ApiResult<List<Notice>>>("notices")).Data;

    }

    
    
}
