/*轮播图样式*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-main {
    /*width: 40vw;
    height: 20vw;
    max-width: 600px;
    max-height: 300px;
    min-width: 300px;
    min-height: 150px;*/
    width: 100%;
    height: 100%;
    position: relative;
}

    .carousel-main ul {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

        .carousel-main ul li {
            width: 100%;
            height: 100%;
        }

            .carousel-main ul li img {
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

    .carousel-main ol {
        position: absolute;
        left: 2vw;
        top: 1vw;
        padding: 0;
    }

        .carousel-main ol li {
            float: left;
            margin-right: 1px;
            width: 2vw;
            height: 2vw;
            line-height: 2vw;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
            background-color: rgba(0,0,0,0.3);
            color: white;
        }

        .carousel-main ol .on {
            background-color: rgba(255,255,255,0.5);
            color: black;
        }

/*布局*/


.main-top-left, .main-top-right, .main-bottom-right {
    margin: 10px;
}

.main-warp {
    display: flex;
    flex-direction: column;
}

    .main-warp .main-top, .main-bottom {
        flex-grow: 1;
    }

.main-top {
    display: flex;
}

.main-top-left {
    display: flex;
    flex-grow: 1;
}

.carousel-warp {
    width: 100%;
    height: 48vw;
}

@media only screen and (min-width: 600px) {
    .carousel-warp {
        width: 40vw;
        height: 20vw;
        max-width: 600px;
        max-height: 300px;
        min-width: 400px;
        min-height: 200px;
    }

    .carousel-main ul li img {
        border-radius: 8px 0 0 8px !important;
    }

    .notice-warp {
        border-radius: 0 8px 8px 0 !important;
    }

    .main-top-right {
        width: 20vw !important;
        min-width: 200px;
    }
}

.notice-warp {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    color: #777777;
    font-size: 0.85rem;
    background-color: #E0E0E0;
    border-radius: 8px;
}

.notice-head {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 20%;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.notice-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.notice-list-item {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    border-top: 1px solid #F5F5F5;
}

    .notice-list-item * {
        display: flex;
        flex-grow: 0;
        align-items: center;
    }

.notice-list-item-left {
    width: 20vw;
    min-width: 150px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    white-space: nowrap;
}

.notice-list-item-right {
    justify-content: end;
    flex-grow: 0;
    margin-left: 10px;
}

.main-top-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: #E0E0E0;
}

    .main-top-right * {
        flex-grow: 1;
    }

.history-wrap {
    border-top: 1px solid white;
}

.time-wrap {
    border-top: 1px solid white;
}

.top-right-list {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

    /*.top-right-list:hover {
        transform: scale(1.1);
        cursor: pointer;
    }*/

    .top-right-list .list-item-icon {
        display: flex;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        min-width: 30%;
    }

    .top-right-list .list-item-content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

        .top-right-list .list-item-content .content-title {
            font-size: 1.3rem;
            display: flex;
            align-items: end;
        }

        .top-right-list .list-item-content .content-subtitle {
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            justify-content: start;
        }
