.main-top-left, .main-top-right, .main-bottom-left, .main-bottom-right {
    margin: 10px;
}

.main-warp {
    display: inline-flex;
    flex-direction: column;
}

    .main-warp, .main-top, .main-bottom {
        flex-grow: 1;
    }

.main-top, .main-bottom {
    display: flex;
}

.main-top-left, .main-bottom-left {
    display: flex;
    flex-grow: 1;
}

@media only screen and (min-width: 960px) {

    .main-top-right {
        width: 20vw !important;
        min-width: 200px;
    }

    .main-bottom-right {
        width: 20vw !important;
        min-width: 200px;
        flex-shrink: 0;
    }
}

.main-top-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: #fff;
}

    .main-top-right * {
        flex-grow: 1;
    }

.main-bottom-right {
    width: auto;
    border-radius: 8px;
    background-color: #fff;
}
