.main {
    display: flex;
    justify-content: center;
}

.search-wrap {
    width: 100%;
    max-width: 1024px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

    .breadcrumbs a {
        font-size: 0.9rem;
    }

.search-head {
    margin-bottom: 32px;
}

.search-content {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}


    .search-content a {
        color: inherit;
        text-decoration: inherit;
    }

        .search-content a:nth-child(2n) {
            background-color: #EEEEEE;
        }

        .search-content a:nth-child(2n+1) {
            background-color: transparent;
        }

        .search-content a:hover .search-row {
            background-color: rgba(0,0,0,0.2);
            transition: all 0.5s ease;
        }

.search-row {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.search-title {
}

.search-time {
}

.search-list{
    height:300px;
    overflow:auto;
    margin:0 auto;
}