.main {
    display: flex;
    justify-content: center;
}

.invitation-wrap {
    width: 100%;
    max-width: 1024px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

    .breadcrumbs a {
        font-size: 0.9rem;
    }

.invitation-head {
    text-align: center;
    margin-bottom: 32px;
}

.invitation-content {
    display: flex;
    margin-bottom: 32px;
}

.content-left {
}

.user-headimg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.user-name {
    margin: 16px 0;
    text-align: center;
    width:75px;
    font-weight:700;
}

.content-right {
    flex-grow: 1;
    padding: 16px;
}

.content-text {
    min-height: 100px;
    word-break: break-word;
}

.content-bottom {
    display: flex;
    justify-content: space-between;
}

.invitation-time {
    display: none;
    color: #757575;
}

.invitation-toolbar {
    display: flex;
    font-size: 0.9rem;
}

    .invitation-toolbar div {
        display: flex;
        align-items: center;
    }

.count {
    /*padding-bottom: 4px;*/
}

.invitation-comment {
    padding: 32px 0;
    border-top: 1px solid #BDBDBD;
}

.comment-head {
    margin-bottom: 32px;
}

.comment-item {
    display: flex;
    margin-bottom: 32px;
}

.comment-right {
    flex-grow: 1;
    padding: 16px;
    border-bottom: 1px solid #BDBDBD;
}

.comment-text {
    min-height: 100px;
}

.comment-bottom {
    display: flex;
}

.comment-time {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.scrolltools {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

::deep .scrolltools > * {
    margin-top: 4px;
}

@media only screen and (min-width: 600px) {
    .user-headimg {
        width:100px;
        height:100px;
    }
    .user-name{
        width:100px;
    }
    .invitation-time {
        display: flex;
    }
}
