@page "/Download"
@inject HttpClient Http

<div class="main">
    <div class="download-wrap">
        <div class="pc">
            <div>PC端下载</div>
            <div>
                <div></div>
            </div>
        </div>
        <div class="mobile">
            <div>移动端下载</div>
            <div>
                <div></div>
            </div>
        </div>
        <div class="tools">
            <div>常用工具</div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
</div>

@code {

}
