.main {
    display: flex;
    justify-content: center;
}

.invitation-wrap {
    width: 100%;
    max-width: 1024px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

    .breadcrumbs a {
        font-size: 0.9rem;
    }

.invitation-head {
    margin-bottom: 32px;
}

.invitation-content {
    margin:16px 0;
}

    .invitation-content tbody tr {
        cursor: pointer;
    }

.invitation-user {
    display:none;
    text-align: center !important;
}

.invitation-views {
    display: none;
    text-align: center !important;
}

.invitation-comment {
    display: none;
    text-align: center !important;
}

.invitation-time {
    display: none;
    text-align: right !important;
}

.page{
    margin:16px 0;
}

.invitation-send{
    
}



@media only screen and (min-width: 600px) {
    .invitation-user {
        display:table-cell;
    }

    .invitation-views {
        display: table-cell;
    }

    .invitation-comment {
        display: table-cell;
    }

    .invitation-time {
        display: table-cell;
    }
}
