.main {
    width: 100vw;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/Illidan.jpg);
    background-size: cover;
    background-position: center top;
}

.register-video video {
    display: none;
    position: fixed;
    width: max(177vh,100vw);
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

.register-card {
    width: 90%;
    max-width: 700px;
}

.step-card {
    padding: 16px 8px;
    background-color: transparent;
    text-align:center;
}
.step-card a{
    text-decoration:none;
}
    .step-card a:hover {
        text-decoration: underline;
    }

.verification{
    display:flex;
}


@media only screen and (min-width: 600px) {
    .main {
        background-image: none;
        position: initial;
        height: 100vh;
    }

    .register-video video {
        display: block;
    }
}
