@inherits LayoutComponentBase
<MApp AlertParameters="param => { param.Centered = true;param.Rounded = true;}">
    <div class="logo-wrap">
        <div class="logo-content">
            <div class="logo-btn">
                <MTooltip Bottom>
                    <ActivatorContent>
                        <a href="/" @attributes="@context.Attrs">
                            <div class="logo-img"></div>
                        </a>
                    </ActivatorContent>
                    <ChildContent>
                        <span>返回首页</span>
                    </ChildContent>
                </MTooltip>
                
            </div>
        </div>
    </div>
   
    <MMain>
        @Body
    </MMain>
</MApp>