
.area-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
}

    .area-wrap :nth-child(n+3) {
        margin-top: 4%;
    }


    .area-wrap a {
        width: 49%;
        height: 24vw;
        min-height: 200px;
        color: inherit;
        text-decoration: inherit;
    }

.area-supply {
    z-index:-1;
}

.area-card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

    .area-card:hover {
        /*transform: scale(1.05);*/
    }

        .area-card:hover .area-img {
            height: 40%;
            transition: all 0.3s;
        }

            .area-card:hover .area-img::before {
                height: 40%;
                background-color: rgba(0,0,0,0.6);
                transition: height 0.3s;
            }

        .area-card:hover .area-content {
            justify-content: initial;
            height: 60%;
            transition: all 0.3s;
        }

        .area-card:hover .area-title {
            justify-content: start;
            transition: all 1s;
        }

        .area-card:hover .area-subtitle {
            display: block;
        }

.area-img {
    height: 75%;
    overflow: hidden;
    transition: all 0.5s;
}
    /* 使用伪类before做遮罩*/
    .area-img::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 75%;
        z-index: 1;
        background-color: transparent;
        transition: height 0.5s;
    }

.area-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    transition: all 0.5s;
}

    .area-content .area-title {
        display: flex;
        justify-content: center;
        font-size: 1.1rem !important;
        font-weight: 700;
        transition: all 1s;
    }

    .area-content .area-subtitle {
        display: none;
        font-size: 0.7rem;
        overflow: hidden;
        color: #757575;
    }

@media only screen and (min-width: 600px) {
    .area-wrap :nth-child(3) {
        margin-top: 0%;
    }

    .area-wrap :nth-child(4) {
        margin-top: 0%;
    }

    .area-wrap a {
        width: 21%;
    }
}
