<div class="sign-wrap top-right-list py-1 py-sm-0">
    <MCard Class="d-flex w-100 h-100 bg-transparent px-5 py-2 py-sm-0">
        <MIcon XLarge>mdi-calendar-month</MIcon>
        <div class="list-content">
            <div class="list-title">
                签到
            </div>
            <div class="list-subtitle">
                今日已签到@(TodaySignCount)人
            </div>
        </div>

    </MCard>
</div>
<div class="history-wrap top-right-list py-1 py-sm-0">
    <MCard Class="d-flex w-100 h-100 bg-transparent px-5 py-2 py-sm-0">
        <MIcon XLarge>mdi-book-open-variant</MIcon>
        <div class="list-content">
            <div class="list-title">
                炉石历史
            </div>
            <div class="list-subtitle">
                了解更多炉石传说历史版本
            </div>
        </div>
    </MCard>
</div>
<div class="time-wrap top-right-list py-1 py-sm-0">
    <MCard Class="d-flex w-100 h-100 bg-transparent px-5 py-2 py-sm-0" Href="https://www.rili.com.cn/">
        <MIcon XLarge>mdi-clock-time-nine-outline</MIcon>
        <div class="list-content">
            <div class="list-title">
                @DateTime.Now.ToString("d")
            </div>
            <div class="list-subtitle">
                @LunarCalendar.GetChineseDate(DateTime.Now)
            </div>
        </div>
    </MCard>
</div>

@code {
    [Parameter]
    public int TodaySignCount { set; get; }

}
