<div class="area-wrap">
    @foreach (var item in Data)
    {
        <MHover Class="area-hover">
            <a href="@("/Invitations/"+item.Id)">
                <div @attributes="context.Attrs" class="area-card @($"{context.Class} py-2 py-sm-3 px-2 px-sm-5 transition-swing elevation-{(context.Hover ? 12 : 2)}")">
                    <div class="title">
                        @item.Name
                    </div>
                    <div class="subtitle">
                        @item.Description
                    </div>
                </div>
            </a>
        </MHover>

    }
</div>

@code {
    [Parameter]
    public List<AreaDTO> Data { set; get; }
}
