<div class="area-wrap">
    @foreach (var item in Data)
    {
        <MHover Class="area-hover">
            <div @attributes="context.Attrs" class="area-card @($"{context.Class} py-2 py-sm-3 px-2 px-sm-5 transition-swing elevation-{(context.Hover ? 12 : 2)}")">
                <div class="title">
                    @item.Name
                </div>
                <div class="subtitle">
                    @item.Description
                </div>
            </div>
        </MHover>

    }
</div>

@code {
    [Parameter]
    public List<Area> Data { set; get; }
}
