


.list-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-left: 20px;
    overflow: hidden;
}

    .list-content .list-title {
        display: flex;
        flex-grow: 1;
        align-items: end;
        font-size: 1.3rem;
    }

    .list-content .list-subtitle {
        display: flex;
        flex-grow: 1;
        align-items: center;
        font-size: 0.75rem;
        white-space: nowrap;
    }
