<div class="sign-wrap top-right-list py-1 py-sm-0">
    <a href="https://www.baidu.com">
        <div class="list-item-icon">
            <MIcon XLarge>mdi-calendar-month</MIcon>
        </div>
        <div class="list-item-content">
            <div class="content-title">签到</div>
            <div class="content-subtitle my-1 my-sm-0">今日已签到</div>
        </div>
    </a>
</div>
<div class="history-wrap top-right-list py-1 py-sm-0">
    <a>
        <div class="list-item-icon">
            <MIcon XLarge>mdi-book-open-variant</MIcon>
        </div>
        <div class="list-item-content">
            <div class="content-title">炉石历史</div>
            <div class="content-subtitle my-1 my-sm-0">了解更多炉石传说历史版本</div>
        </div>
    </a>
</div>
<div class="time-wrap top-right-list py-1 py-sm-0">
    <a href="https://www.rili.com.cn/">
        <div class="list-item-icon">
            <MIcon XLarge>mdi-clock-time-nine-outline</MIcon>
        </div>
        <div class="list-item-content">
            <div class="content-title">
                @DateTime.Now.ToString("d")
            </div>
            <div class="content-subtitle my-1 my-sm-0">
                @LunarCalendar.GetChineseDate(DateTime.Now)
            </div>
        </div>
    </a>
</div>

@code {

}
