@inject NavigationManager navigation

<MTabs Class="w-100 rounded-lg" BackgroundColor="white">
    <MTab>热门推荐</MTab>
    <MTab>最新发布</MTab>
    <MTabItem>
        <div class="invitation-list">
            @foreach (var item in RecommendInvitations)
            {
                <div class="invitation-list-item">
                    <MButton OnClick="()=>NavigationToInvitation(item.Id)" Class="w-100 p-0 p-sm-4 d-flex justify-content-start" Color="white">
                        @item.Title
                    </MButton>
                </div>
            }
        </div>
    </MTabItem>
    <MTabItem>
        <div class="invitation-list">
            @foreach (var item in NewInvitations)
            {
                <div class="invitation-list-item">
                    <div class="invitation-list-item">
                        <MButton Class="w-100">
                            @item.Title
                        </MButton>
                    </div>
                </div>
            }
        </div>
    </MTabItem>
</MTabs>

@code {
    [Parameter]
    public List<InvitationDTOViewRecommend> RecommendInvitations { get; set; }
    [Parameter]
    public List<InvitationDTOViewRecommend> NewInvitations { get; set; }

    private void NavigationToInvitation(int id){
        navigation.NavigateTo("invitation/" + id);
    }
}
