<div class="notice-wrap py-2 px-3 px-sm-5 elevation-3">
    <div class="notice-head">
        最新公告
    </div>
    <div class="notice-list">
        @foreach (var item in Data)
        {
            <div class="notice-list-item py-1 py-md-0">
                <div class="notice-list-item-left">
                    <MButton Text Href="@("noticeInfo/"+item.Id)">
                        @item.Title
                    </MButton>
                </div>
                <div class="notice-list-item-right">
                    @item.CreatedTime.ToString("yyyy/MM/dd")
                </div>
            </div>
        }
    </div>
</div>
@code {
    [Parameter]
    public List<Notice>? Data { set; get; }
}
