.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.navigation-list {
    width:100%;
    max-width:700px;
    display:flex;
    justify-content:space-between;
    font-size:0.9rem;
}

    .navigation-list ::deep .navigation-btn {
        border-radius: 32px;
    }

    .navigation-list ::deep .navigation-btn::before {
        border-radius: 32px;
    }


.footer-top p {
    margin-bottom: 8px;
}

.footer-img {
    width: 100px;
    height: 100px;
    background-image: url(images/Year-of-Gryphon_ClockLens.jfif);
    background-size: cover;
    background-position: center center;
    margin: 16px;
    border-radius: 16px;
    transition: all 0.5s;
}

.footer-img-wrap:hover .footer-img {
    background-image: url(images/Year-of-Gryphon_Constellation.jfif);
    transform: rotateY(180deg);
    transition: all 0.75s;
}
